/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'robotothin';
  src: url('/assets/fonts/roboto/Roboto-Thin-webfont.eot');
  src: url('/assets/fonts/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('/assets/fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('/assets/fonts/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url('/assets/fonts/roboto/RobotoCondensed-Light-webfont.eot');
  src: url('/assets/fonts/roboto/RobotoCondensed-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
