$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$enable-grid-classes:false;
$primary:#007bff;
$secondary:#C9D6DF;
$success:#11D3BC;
$danger:#FF4057;
$info:#A2D5F2;
$warning:#FC3C3C;
$light:#FAFAFA;
$dark:#072247;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;

$body-bg:#efefef;

$primary-font: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
