<div class="container my-4">
  <header class="ass-header my-2 py-2 h-30">
    <p class="lead text-center">Jésus-Christ est le même hier, aujourd'hui, et éternellement. </p>
    <h2 class="text-center">Shekinah Tabernacle</h2>
    <p class="lead text-center">Interdenominationelle</p>
  </header>
  <img src="../../../assets/images/shtab.jpg" alt="" class="img-responsive rounded mx-auto d-block">
  <article>
    <p class="text-justify my-3">La volonté de Dieu est que tous les hommes arrivent à la connaissance de la Vérité qui est Sa Parole. Car c’est celle-ci qui les affranchit et les sanctifie. N’a-t-Il pas dit que Mon peuple meurt à cause de l’ignorance ? Quand Dieu a donné la loi à Moïse, Il l’a écrite Lui-même sur des tables qu’Il a alors confiées à Son prophète pour L’apporter au peuple. <b>Job</b> a dit :
      </p>
      <div class="cite-b m-4">
        <div class="cite-bb text-justify">
            <cite> « Oh ! Je voudrais que mes paroles fussent écrites, qu’elles fussent écrites dans un livre. Je voudrais qu’avec un burin de fer et avec du plomb. Elles fussent pour toujours gravées dans le roc… »
            </cite>
        </div>
      </div>
      <p class="text-justify"> Jérémie a reçu un message de la part de Dieu et Baruk, son secrétaire, l’a mis à l’écrit afin qu’il soit lu au peuple. En son temps, le Seigneur Jésus a choisi douze apôtres pour répandre le message et quelques-uns parmi eux et d’autres hommes appelés par Dieu ont mis à l’écrit Ses Paroles et Sa Vie pour qu’il soit porté à toutes les générations futures. Après sa conversion et son appel au ministère, Paul a écrit lui-même sous forme des lettres les commandements du Seigneur à l’intention de l’Eglise.</p>
        <p class="text-justify">Prophète majeur envoyé conformément aux promesses bibliques, frère <b>Branham</b> était conscient que son Message devait parcourir le monde et atteindre les coins les plus reculés de notre planète. Sur recommandation du Seigneur, il a manifesté un grand souci de voir le Message, évangile du temps de la fin, être diffusé sous forme des bandes, des brochures et des livres pour servir de témoignage à toutes les nations.</p>
  </article>
</div>