@import "scss/partials/variables";

.top-header {
  height: 30px;
  display: flex;
  padding: 10px 16px;
  background: #555;
  color: $light;
  z-index: 10;

  @media screen and (max-width: 990px) {
    display: none;
  }

  .navbar-collapse {
    height: 27px;

    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 15px;
          font-weight: 300;
        }

        .navlink:hover {
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}
