@import "scss/partials/variables";

footer {
  font-size: 17px;

  h5 {
    font-weight: 500;
    border-bottom: 2px solid $primary;
    padding-bottom: 8px;
    margin-bottom: 10px;
  }

  .contact-go {
    font-weight: 400;
    color: $primary;

    &:hover {
      color: $white;
      font-size: 18px;
    }
  }
}
