<div class="container my-4">
    <header class="ass-header my-2 py-2 h-30">
        <p class="lead text-center">Jésus-Christ est le même hier, aujourd'hui, et éternellement. </p>
        <h2 class="text-center">Shekinah Tabernacle</h2>
        <p class="lead text-center">Interdenominationelle</p>
      </header>
      <img src="../../../assets/images/shtab.jpg" alt="" class="img-responsive rounded mx-auto d-block">
      <article>
        <p class="text-justify my-3">Le Révérend William Marrion Branham, que le Dieu Tout-Puissant a confirmé comme le prophète de Dieu pour notre génération, a reçu du Seigneur un Message pour cet âge, contenu dans plus ou moins 1200 sermons enregistrés sur des bandes magnétiques. Ce Message devait être traduit, dans plusieurs langues. pour être diffusé à travers le monde entier, pour l’édification de l’Eglise et la préparation de l’Epouse du Seigneur Jésus-Christ.  Shekinah Missions est convaincue que ce Message est l’Evangile du Seigneur Jésus-Christ  pour ce temps de la fin. Conformément au <strong>Psaume</strong> 105:1:
          </p>
          <div class="cite-b m-4">
            <div class="cite-bb text-justify">
                <cite> « Louez l'Eternel, invoquez son nom! Faites connaître parmi les peuples ses hauts faits!»
                </cite>
            </div>
          </div>
          <p>Shekinah Missions s’est donné la charge de diffuser cette Bonne Nouvelle du Royaume par des moyens suivants :</p>
          <ul>
            <li>La traduction du Message dans les langues nationales et internationales.</li>
            <li>La prédication et l’enseignement de la Parole de Dieu conformément au Message du temps de la fin et à la Bible (Éphésiens, chapitre 4.) </li>
          </ul>
          <p class="text-justify">Shekinah Missions reçoit les demandes des sermons du prophète de Dieu, William Marrion Branham, et y répond en envoyant gratuitement ces sermons. 60 pays à travers le monde sont servis.</p>
            <p class="text-justify">Prophète majeur envoyé conformément aux promesses bibliques, frère <b>Branham</b> était conscient que son Message devait parcourir le monde et atteindre les coins les plus reculés de notre planète. Sur recommandation du Seigneur, il a manifesté un grand souci de voir le Message, évangile du temps de la fin, être diffusé sous forme des bandes, des brochures et des livres pour servir de témoignage à toutes les nations.</p>
      </article>
</div>