<div class="container my-4">
  <div class="row text-center table-horaire ">

    <div class="col-lg-5 col-md-6 mb-4">

      <div class="row mt-4">
        
        <form class="form-inline">
            <div class="form-group mx-sm-1">
                <select class="custom-select" (change)="onChangeByYear($event.target.value)">
                  <option selected>(Tout)</option>                  
                  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
            <div class="form-group mx-sm-1">
                <select class="custom-select" (change)="onChangePreacher($event.target.value)">
                  <option selected>(Tout)</option>
                  <option value="1">Pasteur</option>
                  <option value="2">Ministres locals</option>
                  <option value="3">Autres ministres</option>
                </select>
            </div>
            <div class="form-group mx-sm-1">
              <input type="text" class="form-control" (keydown)="search($event)" placeholder="Cherchez by date, Predicateur,...">
            </div>
            <!-- <button class="btn btn-primary" (click)="!!search()"><fa name="search"></fa></button> -->
          </form>
      </div>
      <div class="row mt-3">
        <div class="table-wrapper-scroll-y">
            <table class="table table-striped table-sm">
              <tr *ngFor="let item of pagedItems">
                <td>
                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="" class="img-responsive"></td>
                <td class="box">
                    <div>{{ item.title }}</div>
                    <p class="lst-sermon text-left"><small><strong>{{ item.preacher }}</strong></small></p>
                    <p class="text-right"><small>{{ item.date | date: 'dd/MM/yyyy' }}</small></p>
                </td>
                <td>
                  <div class="mx-auto my-2">
                      <fa name="play" class="mr-2 control-box text-primary" (click)="play(item)"></fa>|
                      <fa name="download" class="mr-2 control-box text-dark" (click)="download(item)"></fa>
                  </div>
                </td>
              </tr>
            </table>
        </div>
          <table class="table table-sm">
              <tr>
                <td>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li *ngFor="let page of pager.pages" [ngClass]="(pager.currentPage === page ) ? 'page-item active' : 'page-item'">
                            <a class="page-link" (click)="setPage(page)">{{page}}</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </td>
                <td>
                    <div class="input-group">
                        <select class="custom-select" (change)="onChange($event.target.value)">
                          <option selected>Ordonnez...</option>
                          <option value="date">Date</option>
                          <option value="preacher">Predicateur</option>
                          <option value="title">Titre</option>
                        </select>
                      </div>
                </td>
              </tr>
            </table>
      </div>
      
    </div>
    <div class="col-lg-7 col-md-6 mb-4">
      <div class="card mt-3" *ngIf="currentSermon">
        <iframe  [src]="currentSermon.src" width="633" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <div class="card-body">
          <h4 class="card-title">{{currentSermon.title}}</h4>
          <table class="table table-sm table-borderless">
            <tr>
              <td class="text-left">{{currentSermon.preacher}}</td>
              <td class="text-right">
                <fa name="clock-o" class="mr-2"></fa><small>{{currentSermon.date}}</small>
              </td>
            </tr>
            <tr>
              <td class="text-left"><small>{{currentSermon.location}}</small></td>
              <td></td>
            </tr>
          </table>
          <p class="card-text text-left"> </p>
        </div>
      </div>
    </div>
  </div>
</div>