

.lst-sermon{
  float: left;
}

.f-right{
  float: right;
}

.box {
    border-left: 1px solid #000;
}

.control-box{
  font-size: 22px;
  cursor:pointer;
}

.btn-control{
  width: 20px;
  height: 20px;
}