.lst-sermon {
  float: left;
}

.f-right {
  float: right;
}

.box {
  border-left: 1px solid #000;
}

.control-box {
  font-size: 22px;
  cursor: pointer;
}

.btn-control {
  width: 20px;
  height: 20px;
}

.first-col {
  width: 15%;
}
.second-col {
  width: 70%;
}

.third-col {
  width: 20%;
}

.lis-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.seremon-list {
  list-style: none;
  position: relative;
  padding-left: 0 !important;
  width: 100%;
  margin: auto;
}
.seremon-list li {
  padding: 10px 0 10px 80px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  min-height: 70px;
}
.seremon-list li:first-child {
  border-top: 1px solid #e5e5e5;
}
.seremon-list img {
  position: absolute;
  left: 0;
  top: 10px;
}
.seremon-list .seremon-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 1em;
}
.seremon-list .seremon-meta {
  font-size: 12px;
  font-size: 0.8571428571em;
  /* color: #a59e95; */
  font-family: 'Novecento Sans', 'Raleway', 'Noto Sans' 'Open Sans', sans-serif;
  text-transform: lowercase;
}
/* .seremon-list .seremon-meta .pastor {
      margin-bottom: 5px; } */
.seremon-list .seremon-meta .fa {
  width: 20px;
}
/* .seremon-list.large li {
    padding-left: 140px;
    min-height: 150px;
   } */
.seremon-list.large .seremon-meta .pastor,
.seremon-list.large .seremon-meta .date {
  display: inline-block;
  margin-right: 20px;
  color: #000;
}

.seremon-ctr {
  top: 0;
  right: 0;
  padding-top: 20px;
  position: absolute;

}

@media screen and (max-width: 400px) {
  .seremon-list {
    width: 345px;
  }
}